<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>短網址系統</title>
    <link rel="stylesheet" href="../public/css/reset.css">
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
    <div class="container">
        <!-- <h3>請輸入網址 : </h3> -->
        <div>
            <input type="text" name="longURL" placeholder="請輸入網址">
            <div class="btn-submit">確定</div>
        </div>
        
        <div class="shortURL">
            <h4>短網址 : </h4>
            <a href="">123</a>
        </div>
    </div>
    <script src="../public/js/script.js"></script>
</body>
</html>