/*common*/
html,body{
    height: 100%;
}
body{
    font-size: 16px;
    background: #f9f9f9;
    font-family: Arial, Helvetica,"微軟正黑體";
}
.display_none{
    display: none;
}
.container{
    position: relative;
    min-width: 100%;
    min-height: 100%;
    background:url(../images/bg-default.jpg) no-repeat fixed;
}
.block-container{
    max-width: 1000px;
    margin: auto;
    padding: 20px 0;
}
.stream-block{
    width: calc( 100% / 3 - 35px);
    height: 250px;
    margin: 10px;
    display: inline-block;
}
.stream-img{
    background:url(../images/live-stream.jpg) no-repeat ;
    height: 180px;
    background-size: cover !important;

}
.stream-info{
    height: 50px;
    background:#222;
    /*opacity:0.8;*/
    padding: 10px;
    display: flex;
}
.info-img{
    /*float: left;*/
    background:url(../images/reporter.png) no-repeat center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background-size: cover !important;
    background-position: center !important;
}
.stream-info .info-detail{
    width: calc( 100% - 60px);
}
.stream-info p{
    /*float: right;*/
    overflow: hidden;
    color: #fff;
    height: 25px;
    line-height: 25px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.stream-block a{
    text-decoration: none;
}
/*.channel{margin-top: 10px;}
.reporter{margin-bottom: 10px;}*/


/*rwd*/

/*** width < 1000px ***/
@media (max-width: 1000px){
    .stream-block{
        width: calc( 100% / 2 - 25px);
    }
}
@media (max-width: 768px){
    .stream-block{
        width: calc( 100% - 20px );
    }
}